<div class="brand-container">
    <div class="brand-logos">
      <div class="brand-logo">
        <img src="images/brands/apple.png" alt="Apple" />
      </div>
      <div class="brand-logo">
        <img src="images/brands/philips.png" alt="Philips" />
      </div>
      <div class="brand-logo">
        <img src="images/brands/sony.png" alt="Sony" />
      </div>
      <div class="brand-logo">
        <img src="images/brands/lg.png" alt="LG" />
      </div>
      <div class="brand-logo">
        <img src="images/brands/dakin.png" alt="Daikin" />
      </div>

     
    </div>
  </div>
  