
  <div class="top-categories-section">
    <div class="top-categories-container">
      <div class="top-category-card">
        <img src="images/appliance.png" alt="Home Appliances">
        <div class="top-category-title">Home Appliances</div>
      </div>
      <div class="top-category-card">
        <img src="images/headset.png" alt="Audio Devices">
        <div class="top-category-title">Audio Devices</div>
      </div>
      <div class="top-category-card">
        <img src="images/gaming.png" alt="Gaming Equipment">
        <div class="top-category-title">Gaming Equipment</div>
      </div>
      <div class="top-category-card">
        <img src="images/laptop.png" alt="Laptops">
        <div class="top-category-title">Laptops</div>
      </div>
      <div class="top-category-card larger">
        <img src="images/smartphone.png" alt="Smart Phones">
        <div class="top-category-title">Smart Phones</div>
      </div>
      <div class="top-category-card larger">
        <img src="images/laptop.png" alt="Home Appliances">
        <div class="top-category-title">Smart Phones</div>
      </div>

    </div>
  </div>
  


