<footer>
    
    <div class="d-flex justify-content-around align-items-start">
        <div class="footer-column">
            <p class="headline-bold">Customer Service</p>
            <ul>
                <li><a [routerLink]="['/contact-us']"  class="body-regular">Contact Us</a></li>
                <li><a [routerLink]="['/faq']"  class="body-regular">FAQs</a></li>
                <li><a href="#"  class="body-regular">Shipping & Delivery</a></li>

            </ul>
        </div>
        <div class="footer-column">
            <p class="headline-bold">Company</p>
            <ul>
                <li><a href="/about"  class="body-regular">About Us</a></li>
                <li><a href="#"  class="body-regular">Careers</a></li>
                <li><a href="#"  class="body-regular">Book a Service</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <p class="headline-bold">Legal Information</p>
            <ul>
                <li><a href="/policy?tab=privacy" class="body-regular">Privacy Policy</a></li>
                <li><a href="/policy?tab=terms" class="body-regular">Terms & Conditions</a></li>
                <li><a href="/policy?tab=cookie" class="body-regular">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <p class="headline-bold">Connect With Us</p>
            <div class="social-icons">
                <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"> <i class="fa-brands fa-facebook"></i></a>
                <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
                <a href="#"> <i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="#"> <i class="fa-brands fa-youtube"></i></a>
                <a href="#"> <i class="fa-brands fa-square-snapchat"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footnote-regular">&copy; 2024 Maxwell Inc. All rights reserved.</div>
    </div>


    
</footer>

