<div class="main-box-container">

        <div class="confirm-cancel">
            <h3>Cancel Order</h3>
            <p class="body-bold">Are you sure you want to cancel the order</p>

            <div class="image-container">
                <img src="images/cart-mobile.png" alt="Product Image">

            </div>
            <!-- <app-product-preview [items]="orders[0].items" [buttonName]="btnName" [buttonIcon]="btnIcon"></app-product-preview> -->

            <div class="button-container">
                    
                <a href="/user-profile"><button class="body-bold submit-btn">Back to Orders</button></a>

                <a href="/order-cancel-confirmation"><button class="body-bold submit-btn">Confirm</button></a>
            </div>
        </div>


</div>