<div class="cart-price-container">

    <div class="coupon">
        <div class="apply-coupon">
            <p class="coupon-code"><i class="fa-solid fa-ticket"></i>DEAL50</p>
            <p class="coupon-status"><i class="fa-solid fa-check"></i>Applied</p>
        </div>
        <button class="remove-coupon body-regular ">Remove coupon code</button>
    </div>

    <div class="price-distribution">
        <h4 class="headline-bold">
            Price Details
        </h4>
        <hr>
        <div class="price-summary">
            <div class="price-item">
                <p class="body-regular">Price (2 Items) </p>
                <p class="body-regular">QAR 1,67,999</p>
            </div>
            <div class="price-item">
                <p class="body-regular ">Discount </p>
                <p class="body-regular discount-amount">QAR 66.00</p>
            </div>


            <div class="price-item">
                <p class="body-regular">Delivery Charge </p>
                <p class="body-regular delivery-fee">Free</p>
            </div>

            <div class="price-item">
                <p class="body-regular">Coupon Applied </p>
                <p class="body-regular discount-amount">QAR 0.00</p>
            </div>

            <hr>

            <div class="price-item">
                <p>Total</p>
                <p>QAR 1,38,999.00</p>
            </div>

            <a>
                <button class="submit-btn headline-bold order-btn" (click)="navigateToOrder()">Place Order</button>
            </a>
        </div>
    </div>

</div>