<div class="triple-offer-container">
    <!-- Main Large Offer -->
    <div class="triple-main-offers">
        <img src="images/Widget-1-appliances.png" alt="Main Offer">
    </div>

    <!-- Side Offers (Two small banners) -->
    <div class="triple-side-offers">
        <div class="offer">
            <img src="images/Widget-3-appliances.png" alt="Samsung Jet">
        </div>
        <div class="offer">
            <img src="images/Widget-2-appliances.png" alt="Samsung Jet">
        </div>
    </div>
</div>