
<div class="laptop-computer-container">
  <div class="main-category">
    <img src="images/lapcomp.png" alt="Laptops and Computers" />
    <h3 class="headline-bold">Laptops and Computers</h3>
    <a class="subtitle-regular" href="#">View All</a>
  </div>

  <div class="laptop-computer-item-list">
    <!-- First Row -->
    <div class="lap-computer-item first-row">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/gaming-lap.png" alt="Gaming Laptops" />
      </div>

    </div>

    <div class="lap-computer-item first-row">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/business-lap.png" alt="Gaming Laptops" />
      </div>

    </div>

    <div class="lap-computer-item first-row">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/ultrabook-lap.png" alt="Gaming Laptops" />
      </div>

    </div>

    <div class="lap-computer-item first-row">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/twoinone-lap.png" alt="Gaming Laptops" />
      </div>
    </div>

    <!-- Second Row -->
    <div class="lap-computer-item">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/gaming-desktop.png" alt="Gaming Laptops" />
      </div>

    </div>

    <div class="lap-computer-item">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/mini-desktop.png" alt="Gaming Laptops" />
      </div>

    </div>

    <div class="lap-computer-item">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/chromebook.png" alt="Gaming Laptops" />
      </div>
    </div>

    <div class="lap-computer-item">
      <h4 class="body-bold">Gaming Laptops</h4>
      <div class="item-flex">
        <p class="body-regular">From QAR 40,000</p>
        <img src="images/computer-accessories.png" alt="Gaming Laptops" />
      </div>
    </div>

  </div>

</div>