.account-details h3 {
    margin-bottom: 20px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    border-bottom: var(--horizontal-border);
}

.detail-description , .detail-row a{
color: var(--greyscale-text-subtile);

}

.detail-row a {
    text-decoration: none;
}
