
  
  .password-box {
    background-color: #fff;
    padding: var(--box-padding);
    border-radius: var(--main-border-radius);
    box-shadow: var(--box-shadow);
    text-align: left;
    width: 30%;
    border: var(--horizontal-border);

  }

  .password-box p{
    color: var(--greyscale-text-subtile);
  }
  
  h2 {
   margin: 0;
  }

  .input-group {
    margin-top: var(--form-items-margin-top-or-bottom);
  }
  
  .input-group label {
    display: block;
    margin-bottom: 10px;
    width: 30%; 
  }
    
  .input-group div i {
   cursor: pointer;
    }

    .input-group div i:hover {
        color: var(--primary-surface-default);
    }

    .password-container {
      position: relative;
  }
  
  .input-wrapper {
      display: flex;
      align-items: center;
      position: relative;
  }
  
  .password-input {
      width: 100%;
      padding-right: 40px; 
  }
  
  #togglePassword {
      position: absolute;
      right: 10px;
      cursor: pointer;
  }
  

  .forgot-password-container{
    display: flex;
    justify-content: flex-end;

  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    color: var(--fore-ground-primary);
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    width: 100%;
    margin-top: var(--form-items-margin-top-or-bottom);
  }
  
  .social-login {
    margin-top: var(--form-items-margin-top-or-bottom);
    text-align: center;

  }
  
  .social-login p {
    margin-bottom: var(--form-items-margin-top-or-bottom);
    /* text-align: center; */
  }
  

  .social-icons  {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: var(--form-items-margin-top-or-bottom);
  }

  .social-icons img {
    width: 30px;
    padding: 10px 30px;
    cursor: pointer;
    border:var(--horizontal-border);
    border-radius: 8px;
  }
  
  .signup-text {
    margin-top: var(--form-items-margin-top-or-bottom);
    text-align: center;
  }
  
  .signup-text a {
    color:  var(--fore-ground-primary);
    text-decoration: none;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  

  .back-button {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom:var(--margin-content-space);
}

.back-button i:hover {
    background-color: #eaeaea;

}

.back-button i {
    display: inline-block;
    border: var(--horizontal-border);
    border-radius: var(--main-border-radius);
    padding: 8px 10px;
    font-size: 12px;


}