<div class="place-order-wrapper">

    <div class="select-address">

        <app-select-address></app-select-address>
        
    </div>


    <div class="price-details">
        <!-- <app-cart-price-details [orderRoute]="'/order-confirmation'"></app-cart-price-details> -->
        <app-cart-price-details [orderRoute]="'/order-confirmed-details'"></app-cart-price-details>

    </div>
    
    <!-- <div class="secure-payment">
        <p>Safe and Secured Payment</p>
        <button class="next-btn">Next</button>
    </div> -->


</div>
