<div class="order-details-wrapper">

    <div class="confirmation-message-container">
        <div class="confirmation-message">
            <h3>Order Confirmed! 🎉</h3>
            <p class="headline-bold">Thank you for your purchase. </p>
            <h5>Order Id: #320152035</h5>
            <p class="headline-regular">We will send an email with tracking id once the item is shipped.</p>
        </div>

        <div class="continue-btn-container">
           <a href="/"> <button class="submit-btn body-regular">Continue Shopping</button></a>
        </div>
    </div>


    <div class="ordered-products">
        <app-cart-items></app-cart-items>
    </div>

    <div class="billing-details">

        <div class="customer-details">
            <div>
                <h4>Shipping address</h4>
                
                    <div class="address-card">
                            <div class="address-info">
                                <p class="name body-bold">Ajay S</p>
                                <p class="body-regular">Kumarapuram House</p>
                                <p class="body-regular">12/34, Punnapra PO, Alappuzha, Kerala, 688004, India</p>
                                <p class="body-regular">ajaygmail.com | +91 9696969696</p>
                            </div>
                    </div>
            </div>
    
            <div>
                <h4>Payment Information</h4>
                <div class="payment-info">
                    <p class="body-regular"><i class="fa-brands fa-cc-visa"></i>ending with 4567</p>

                </div>
            </div>

        </div>

            <div class="price-summary">
                <div class="price-item">
                    <p class="body-regular">Price (2 Items) </p>
                    <p class="body-regular">QAR 1,67,999</p>
                </div>
                <div class="price-item">
                    <p class="body-regular ">Discount </p>
                    <p class="body-regular discount-amount">QAR 66.00</p>
                </div>
    
    
                <div class="price-item">
                    <p class="body-regular">Delivery Charge </p>
                    <p class="body-regular delivery-fee">Free</p>
                </div>
    
                <div class="price-item">
                    <p class="body-regular">Coupon Applied </p>
                    <p class="body-regular discount-amount">QAR 0.00</p>
                </div>
    
                <hr>
    
                <div class="price-item">
                    <p>Total</p>
                    <p>QAR 1,38,999.00</p>
                </div>
    
            </div>
    

        <!-- <app-cart-price-details></app-cart-price-details> -->
         
    </div>

</div>