.tel-input-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 350px;
  border: var(--horizontal-border);
}

.dropdown-menu {
  position: absolute;
  top: 0px;
  background: white;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
}

.flag-code-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.country-selector {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 25%;
}

.flag-icon {
  width: 20px;
  margin-top: 4px;
  margin-right: 10px;
}

.phone-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
