
  <div class="main-box-container">
    <div class="otp-box">

        <a href="/login-register" class="back-button">
          <i class="fa-solid fa-less-than"></i> Back
      </a>
      
      <h2>OTP Verification</h2>
      <p class="body-regular">Enter the verification code we just sent on your email address.</p>
  
      <div class="otp-inputs">
        <input type="text" maxlength="1" required />
        <input type="text" maxlength="1" required />
        <input type="text" maxlength="1" required />
        <input type="text" maxlength="1" required />
      </div>
  
      <a href="/success-screen">
        <button class="verify-button submit-btn headline-bold">Verify</button>
      </a>

    

      <div class="resend-section">
        <p>Don’t Received Yet?</p>
        <a href="#" >Resend Code </a>
      </div>
    </div>
  </div>



